**.pyc
**~

/**/.env/
**.project
**.pydevproject
**.settings
**.ipynb_checkpoints
/2015-10_Lecture/Lecture4/code/20Newsgroups
/2015-10_Lecture/Lecture4/code/BrownCorpus
/2015-10_Lecture/Lecture4/code/Weka
